// LeftDrawer.scss

// Left drawer container
.left-drawer {
  position: relative;
  transition: transform 0.3s ease-in-out;
  border-right: 1px solid var(--border-color);
  box-shadow: 0 4px 8px var(--shadow-color);
  width: 180px; // Set the width to 30%
  flex-shrink: 0; // Prevent the drawer from shrinking
}

// Closed state for the left drawer
.left-drawer.closed {
  transform: translateX(-100%);
}

// Toggle button for the left drawer
.toggle-button {
  position: absolute;
  top: 1rem;
  right: -32px;
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  box-shadow: 0 4px 8px var(--shadow-color);
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
}

// Hover effect for the toggle button
.toggle-button:hover {
  background-color: var(--primary-color-hover);
}

// Drawer content
.drawer-content {
  background-color: var(--drawer-background-color, #333); // Dark background color
  height: calc(100vh - 8rem); // Subtract header and footer height (4rem each)
  overflow-y: auto; // Add scroll if content overflows
}

// Drawer header
.drawer-header {
  padding: 1rem;
  background-color: var(--drawer-background-color);
  color: var(--text-color);
}

// Drawer header title
.drawer-header h2 {
  margin: 0;
  font-size: 1.5rem;
}

// Drawer header description
.drawer-header p {
  margin: 0.5rem 0 0;
  font-size: 1rem;
}

// List of menu items
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

// Menu item
li {
  margin: 0.5rem 0;
}

// Menu item link
li a {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--text-color); // White text color
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}

// Hover effect for menu item link
li a:hover {
  color: var(--primary-color-hover);
  background-color: var(--hover-background-color, #444);
}

// Background color for active menu item
li.active a {
  background-color: var(--primary-color);
  color: #ffffff;
}